
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #111;
}

.right {
  right: 0;
  background-color: red;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}
</style>
</head>
<body>

<div class="split left">
<h1><center> Fakes </center></h1>
<ol>
{%for i in rslt['review_body']%}
	<li> {{i}} </li><br>
{%endfor%}
</ol>
</div>

<div class="split right">
<h1><center> Facts </center></h1>
 <ol>
{%for i in lst%}
	<li> {{i[0]}} </li><br>
{%endfor%}
</ol>
</div>
     
</body>
</html> 

